// VARIABLES
$background: #1e1d24;
$cardBackground: #2b2a31;
$subBackground: #24222a;
$headline: #fffffe;
$cardHeading: #fffffe;
$subHeadline: #94a1b2;
$cardParagraph: #94a1b2;

$dexBackground: #be7d7d;
$dexOption: #daa198;
$dexSubmit: #a1e5ab;
$dexAction: #39a0ed;
$dexScreen: #35332c;
$dexButtons: #b3b3b3;
$dexText: #fffffe;
$dexDisplay: #7f7;
// TYPES

$type-normal: "#A8A878";
$type-fire: "#F08030";
$type-water: "#6890F0";
$type-grass: "#78C850";
$type-electric: "#F8D030";
$type-ice: "#98D8D8";
$type-fighting: "#C03028";
$type-poison: "#A040A0";
$type-ground: "#E0C068";
$type-flying: "#A890F0";
$type-psychic: "#F85888";
$type-bug: "#A8B820";
$type-rock: "#B8A038";
$type-ghost: "#705898";
$type-dark: "#705848";
$type-dragon: "#7038F8";
$type-steel: "#B8B8D0";
$type-fairy: "#F0B6BC";

// EGG GROUPS

$egg-monster: "#D25064";
$egg-water1: "#97B5FD";
$egg-bug: "#AAC22A";
$egg-flying: "#B29AFA";
$egg-ground: "#E0C068";
$egg-fairy: "#FFC8F0";
$egg-grass: "#82D25A";
$egg-humanshape: "#D29682";
$egg-water3: "#5876BE";
$egg-mineral: "#7A6252";
$egg-indeterminate: "#8A8A8A";
$egg-water2: "#729AFA";
$egg-ditto: "#A664BF";
$egg-dragon: "#7A42FF";
$egg-no-eggs: "#333333";

// GAMES
$game-red: "#7B200C";
$game-blue: "#19478B";
$game-yellow: "#E0BC00";
$game-gold: "#978A56";
$game-silver: "#5D646E";
$game-crystal: "#6A72B0";
$game-ruby: "#E65030";
$game-sapphire: "#035C98";
$game-emerald: "#00A54C";
$game-diamond: "#55A3B0";
$game-pearl: "#ACB0B3";
$game-platinum: "#E5E4E2";
$game-black: "#111111";
$game-white: "#FFFFFF";
$game-x: "#6579BE";
$game-y: "#E53925";
$game-sun: "#E57621";
$game-moon: "#322B6E";
$game-sword: "#009FE6";
$game-shield: "#E50158";
$game-scarlet: "#CC212C";
$game-violet: "#B645AF";
$game-colosseum: "#EC1F26";
$game-xd: "#2C2F8F";
$game-isle: "#F5DF2D";
$game-fred: "#E76535";
$game-lgreen: "#A6D054";
$game-hgold: "#E3BD41";
$game-ssilver: "#FBFBFD";
$game-oruby: "#D51840";
$game-asapphire: "#1B2B76";
$game-black2: "#111111";
$game-white2: "#FFFFFF";
$game-usun: "#DC4E30";
$game-umoon: "#425799";
$game-pikachu: "#F9E065";
$game-eevee: "#EFBF64";
$game-crown: "#00667B";
$game-bdiamond: "#247DA7";
$game-spearl: "#A13A59";
$game-arceus: "#241A18";

// Navbar

$navbar-h: 8rem;
